{% extends 'webapp/base.html' %}

{% load i18n %}

{% block content %}

<div class="container-fluid">
    <section>

        <h1>{% trans "Suprajā Abhiyān" %}</h1>

        <p class="lead">
            {% blocktrans %}
            Live a long, happy and fulfilling life with easy to follow
            presonalised and preventive healthcare recommendations based on
            Āyurveda.
            {% endblocktrans %}
        </p>
        <p class="lead">
            {% blocktrans %}
            A public welfare initiative by <b>Rasāyu</b>, a leader in chronic
            and critical healthcare for more than 25 years.
            {% endblocktrans %}
            <a href="{% url 'webapp:about_rasayu' %}">
                {% trans "Learn more" %}
            </a>
        </p>

        <hr>

        <p>
            {% blocktrans %}
            Āyurveda is an ancient Indian science practiced since millenia.
            Āyurveda inherently focuses on preventive healthcare. This app
            attempts to do a high level health and risk assessment through
            interactive questionnaires and tracking and give personalised and
            preventive healthcare recommendations.
            {% endblocktrans %}
        </p>

        <h3>{% trans "Wellness (svāsthya) assessment" %}</h3>

        <p>
            {% blocktrans %}
            Āyurveda classifies a normally healthy person as disease-free
            (nirogī) and truly healthy (svastha). A svastha person is more
            likely to enjoy a happier, longer and fulfilling life. The app
            attempts to do a high level health assessment of the user based
            on a health assessment questionnaire. The app provides
            recommendations to improve or maintain a good health.
            {% endblocktrans %}
        </p>

        <h3>{% trans "Prakṛti assessment" %}</h3>
        <p>
            {% blocktrans %}
            The life style as recommended by Āyurveda is quite easy to follow.
            In India, the general daily and seasonal routines and regimens
            prescribed by Āyurveda were quite well known and practiced by the
            people and was traditionally passed on through generations. However,
            due to various factors this knowledge and practice has gradually
            waned. This app aims to enable users to inculcate this practice and
            follow it throughout their life.

            Based on the user’s prakṛti (constitutional analysis) assessment,
            the app will give personalized and timely recommendations on daily
            and seasonal routine and regimen (dinacaryā, ṛtucaryā).
            {% endblocktrans %}
        </p>

        <h3>{% trans "Risk assessment and mitigation" %}</h3>

        <p>
            {% blocktrans %}
            Based on a person's quality of tissue (dhātu sāratā), family
            history, lifestyle, and other factors, Āyurveda enables assessing
            health risks and accordingly recommending preventive measures for
            the same.
            {% endblocktrans %}
        </p>

    </section>

    <hr>

    <footer>
        <i>
            <b>Note:</b>
            Sanskrit (saṃskṛta) words are represented in English using
            <a href="https://en.wikipedia.org/wiki/International_Alphabet_of_Sanskrit_Transliteration"
                target="_blank">
                IAST</a> in this app.
        </i>
    </footer>
</div>
<!--container-->
{% endblock content%}