{% extends 'webapp/base.html' %}

{% load i18n %}

{% block content %}
<div class="container-fluid">
    <section>

        <h1>{% trans "About Rasāyu" %}</h1>

        <p>
            {% blocktrans %}
            Rasāyu Group, based out of Pune, Maharashtra is headed by
            <a href="https://www.rasayucancerclinic.com/dr-yogesh-bendale-ayurvedic-pharmacologosist/"
                target="_blank">
                Dr. Yogesh Bendale</a>.
            The Group comprises of following entities:
            {% endblocktrans %}

            <h3>{% trans "Rasāyu Āyurveda Clinic" %}</h3>

            <p>
                {% blocktrans %}
                The Rasāyu Āyurveda Clinic (RAC) incorporates the fundamentals
                of Āyurveda confounded with the aid of modern investigative
                techniques.
                It caters to all sorts of health disorders including
                consequential disorders such as cardiac disorders, chronic liver
                disorders, liver cirrhosis, neurological disorders and diabetic
                complications.
                Respiratory, musculoskeletal, respiratory disorders,
                gastrointestinal disease diseases of Retina, etc.
                {% endblocktrans %}
            </p>

            <h3>{% trans "Rasāyu Cancer Clinic" %}</h3>

            <p>
                {% blocktrans %}
                <a href="https://www.rasayucancerclinic.com" target="_blank">
                    Rasāyu Cancer Clinic (RCC)</a>
                is a unique pioneering venture which offers comprehensive
                solutions to cancer patients. It is a one-of-its-kind cancer
                care center which provides evidence based highly advanced
                therapies which are based on principles of the Indian System of
                Medicine- Āyurveda (ISM).
                Āyurveda is rich in unique fundamentals about the concept of
                health, the pathogenesis of a disease and its treatments through
                manufacturing of highly potent and efficacious pharmaceutical
                drugs.
                Dr Bendale has contributed pioneering efforts to treat advanced
                cancer patients with the help of Rasayanas.
                {% endblocktrans %}
            </p>

            <h3>{% trans "Dyumna Women's Clinic" %}</h3>

            <p>
                {% blocktrans %}
                <a href="https://dyumnawomensclinic.com/" target="_blank">
                    Dyumna women's clinic (DWC)
                </a> is focused on preventive as well as curative
                aspects pertaining to women's health. This is the brainchild of
                <a href="https://www.rasayucancerclinic.com/dr-vineeta-bendale/"
                    target="_blank">
                    Dr. Vineeta Bendale
                </a>
                under the umbrella of Rasāyu Āyurveda Clinics.
                {% endblocktrans %}
            </p>

            <h3>
                {% blocktrans %}
                <a href="https://www.rasayucancerclinic.com/ayurvedarasayani-ayurvedicmedicines/"
                    target="_blank">
                    Āyurveda Rasayani</a> (Manufacturing Unit)
                {% endblocktrans %}
            </h3>

            <p>
                {% blocktrans %}
                Dr. Bendale was passionate about Āyurveda medicine
                manufacturing initially at personal scale. In the year 2000,
                Dr. Bendale set up an Indian FDA approved Āyurveda drugs
                manufacturing unit near Pune. He got a lot of support from
                various Āyurveda practitioners and experts from all over India.
                Dr. Bendale has ensured that the manufacturing processes and
                ingredients strictly adhere to original Āyurveda literature and
                its compliance, ensuring authentic drugs.
                Over the years, it has transformed into a unique,
                state-of-the-art manufacturing unit in Mahalunge –Pune spread in
                about 75000 Sqft. land area.
                {% endblocktrans %}
            </p>

            <h3>
                {% blocktrans %}
                <a href="https://www.rasayucancerclinic.com/ayurvedic-cancermedicines-research/"
                    target="_blank">
                    Rasayani Biologics</a> (Fundamental Drug Research Centre) -
                DSIR approved lab
                {% endblocktrans %}
            </h3>

            <p>
                {% blocktrans %}
                An innovation driven biotech integrating wisdom of Āyurveda
                with modern day research and regulatory compliance, RBPL was
                founded in 2007 in Pune. It specializes at developing
                proprietary oral therapeutics for oncology and chronic diseases.
                The proprietary products contain noble metals and base elements
                processed using a patented green technology. RBPL has a well
                equipped research facility, recognized by Department of Science
                and Industrial Research (DSIR) and funded by the Department of
                Biotechnology (DBT), Govt. of India and a pilot manufacturing
                facility for active Pharmaceutical ingredients (API) approved
                by Indian FDA.
                {% endblocktrans %}
            </p>

        </p>

    </section>
</div>
<!--container-->
{% endblock %}